body {
    background-color: #F2F2F2;
    font: 14px Arial, Helvetica, sans-serif;
}

/*Header*/

header {
    background-color: #FFF;
}

header .header-content {
    width: 100%;
    max-width: 1170px;
    min-height: 100px;
    margin: 0 auto;
}

header .header-content img {
    position: relative;
    width: 71.01px;
    height: 70px;
    top: 15px;
    margin-left: 20px;

}

header .header-content .header-menu {
    position: relative;
    top: 41px;
    float: right;
    text-align: center;
    margin-right: 20px;
}

header .header-content .header-menu span{
    margin-left: 20px;
    font-weight: bolder;
}

header .header-content .header-menu .home{
    color: #87E22D;
}

/* Capa do site */

.capa {
    width: 100%;
    height: 600px;
    background-image: url("./images/capa.png");
    margin-bottom: 78px;
}

.capa .content {
    position: relative;
    width: 100%;
    max-width: 1180px;
    height: 100px;
    margin: 0 auto;
    color: #fff;
    padding-top: 400px;
}

.capa .content .category {
    font-family: PT Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 10px;
}

.capa .content .title {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin: 0px;
    margin-left: 10px;
    width: 560px;
}

.capa .content .information {
    font-family: PT Serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 14px;
    line-height: 19px;
    margin: 0px;
    margin-left: 10px;
}

/* Site */

.site-content {
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    height: 900px;
}

/* Posts */
.posts {
    width: 65%;
    max-width: 640px;
    margin: 0 auto;
    min-height: 900px;
    float: left;
}

.posts div{
    margin-left: 20px;
    margin-bottom: 20px;

    width: 300px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    text-align: center;
    float: left;
    height: 400px;

}

.posts div img{
    width: 100%;
    margin-bottom: 20px;
}

.posts .category{
    font-family: PT Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #C9A96E;
}

.posts .title{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 28px;
    color: #171717;
}

.posts .information{
    font-family: PT Serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 12px;
    line-height: 16px;
    color: #666;
}

/* Filtros Geral */


.filtros .title {
    border: 1px solid #E5E5E5;
    text-align: center;
    height: 50px;
}

.filtros .title h3 {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #171717;
}

/* Categorias */

.filtros .categories {
    margin-left: 20px;
    width: 35%;
    max-width: 370px;
    float: left;
}

.filtros .categories p {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #666;

    border-top: 1px solid #E5E5E5;

    padding-top: 14px;
    /* padding-bottom: 14px; */

}

.filtros .first-option {
    margin-top: 0;
    border-top: 0px ;
}

.filtros .categories p .number {
    float: right;
}

/* Tags */

.filtros .tags {
    margin-left: 20px;
    width: 35%;
    max-width: 370px;
    float: left;
}

.filtros .tags .items {
    padding-top: 20px;
}
.filtros .tags p {
    background-color: #F8F9FA;
    /* height: 20px; */
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #666666;
    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;

    margin-right: 5px;
    float: left;
}

